<div id="blocker" style="display: none;"><div>{{ text_duell_integration_processing }}...</div></div>
{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right">
        <button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
        <a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
      <h1>{{ heading_title }}</h1>
      <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
          {% endfor %}
      </ul>
    </div>
  </div>
  <div class="container-fluid">
    {% if error_warning %}
      <div class="alert alert-danger alert-dismissible"><button type="button" class="close" data-dismiss="alert">&times;</button><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
      </div>
    {% endif %}
    <div class="alert alert-info"><i class="fa fa-exclamation-circle"></i> {{ text_about }}
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
      </div>
      <div class="panel-body">





        <form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-html" class="form-horizontal">

          <div class="form-group">
            <label class="col-sm-2 control-label" for="module_duell_integration_client_number"><span data-toggle="tooltip" title="{{ help_text_duell_integration_client_number }}">{{ text_duell_integration_client_number }}</span></label>
            <div class="col-sm-10">
              <input type="number" name="module_duell_integration_client_number" value="{{ module_duell_integration_client_number }}" placeholder="{{ text_duell_integration_client_number }}" class="form-control" />
              {% if error_module_duell_integration_client_number %}
                <div class="text-danger">{{ error_module_duell_integration_client_number }}</div>
              {% endif %}
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="module_duell_integration_client_token"><span data-toggle="tooltip" title="{{ help_text_duell_integration_client_token }}">{{ text_duell_integration_client_token }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="module_duell_integration_client_token" value="{{ module_duell_integration_client_token }}" placeholder="{{ text_duell_integration_client_token }}" class="form-control" />
              {% if  error_module_duell_integration_client_token %}
                <div class="text-danger">{{ error_module_duell_integration_client_token }}</div>
              {% endif %}
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="module_duell_integration_department_token"><span data-toggle="tooltip" title="{{ help_text_duell_integration_department_token }}">{{ text_duell_integration_department_token }}</span></label>
            <div class="col-sm-10">
              <input type="text" name="module_duell_integration_department_token" value="{{ module_duell_integration_department_token }}" placeholder="{{ text_duell_integration_department_token }}" class="form-control" />
              {% if  error_module_duell_integration_department_token %}
                <div class="text-danger">{{ error_module_duell_integration_department_token }}</div>
              {% endif %}
            </div>
          </div>



          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-log-status">{{ text_duell_integration_log_status }}</label>
            <div class="col-sm-10">
              <select name="module_duell_integration_log_status" id="input-log-status" class="form-control">
                {% if (module_duell_integration_log_status==1 or module_duell_integration_log_status=='') %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
            <div class="col-sm-10">
              <select name="module_duell_integration_status" id="input-status" class="form-control">
                {% if module_duell_integration_status %}
                  <option value="1" selected="selected">{{ text_enabled }}</option>
                  <option value="0">{{ text_disabled }}</option>
                {% else %}
                  <option value="1">{{ text_enabled }}</option>
                  <option value="0" selected="selected">{{ text_disabled }}</option>
                {% endif %}
              </select>
            </div>
          </div>


          <div class="form-group">
            <label class="col-sm-2 control-label" for="">&nbsp;</label>
            <div class="col-sm-10">
              <button data-loading-text="<i class='fa fa-spinner fa-spin '></i> {{ text_duell_integration_processing }}" type="button" id="button-syncmanually" data-toggle="tooltip" title="{{ text_duell_integration_manual_sync }}" class="btn btn-primary"><i class="fa fa-refresh"></i></button>&nbsp;{{ text_duell_integration_manual_sync }}
            </div>
          </div>


        </form>


        <div class="col-sm-12 col-userguide" >

          <p>{{ text_user_guide }}</p>





          <p>&nbsp;</p>
          <p>  <b>{{ text_cron_steup_title_curl }}</b></p>
          <ul  style="list-style-type:circle">
            <li>
              {{ text_every_hours }}:&nbsp; <b>* */3 * * * /usr/bin/curl {{ cron_link }} >/dev/null 2>&1</b>
            </li>
            <li>
              {{ text_every_night }}:&nbsp; <b>* 3 * * * /usr/bin/curl {{ cron_link }} >/dev/null 2>&1</b>
            </li>
          </ul>
          <p>&nbsp;</p>


        </div>

      </div>
    </div>
  </div>
</div>
<style>
  .col-userguide{
    background: #f6f6f6;
    padding: 10px;
    margin-bottom: 17px;
    border: 1px solid #e4e4e4;
    border-radius: 3px;
  }
  #blocker
  {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .9;
    background-color: #000;
    z-index: 1000;
    overflow: auto;

  }
  #blocker div
  {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 5em;
    height: 2em;
    margin: -1em 0 0 -2.5em;
    color: #fff;
    font-weight: bold;
    font-size: 24px;
  }
</style>
    <script type="text/javascript"><!--
function blockUI(        )
  {
    $("#blocker").css('display', "");
  }

  function unblockUI(        )
  {
    $("#blocker").css('display', "none");
  }
  var inProcess = false;
  $('#button-syncmanually').on('click', function () {
    if (inProcess == false) {
      inProcess = true;
      $.ajax({
        url: 'index.php?route=extension/module/duell_integration/manualsync&user_token={{ user_token }}',
        type: 'post',
        dataType: 'json',
        cache: false,
        beforeSend: function () {
          $('#button-syncmanually').button('loading');
          blockUI();
        },
        complete: function () {
          $('#button-syncmanually').button('reset');
          unblockUI();
          inProcess = false;
        },
        success: function (json) {
          console.log(json);
          if (json['success']) {
            alert(json['message']);
          } else {
            alert(json['message']);
          }
        },
        error: function (xhr, ajaxOptions, thrownError) {
          alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
      });
    }
  });
  //--></script>
  {{ footer }}